.draggable {
    position: absolute;
    cursor: move;
    background: linear-gradient(#e3f304, #ee0404);
    border: 2px solid #614a4a;
}

#chipmunk {
    display: flex;
    background: linear-gradient(to bottom right,rgb(255, 115, 0), rgba(100, 40, 0, 0.918));
    height: 50px;
    width: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}